<div class="auth" *ngIf="isShouldDisplay">
    <div class="container auth-container">
        <form class="auth-form">
            <div class="input-container">
                <label for="email" class="input-title">
                    Email:
                </label>
                <input class="input" [(ngModel)]="email" type="email" name="email"/>
            </div>
            <div class="input-container">
                <label for="password" class="input-title">
                    Password:
                </label>
                <input class="input" [(ngModel)]="password" type="text" name="password"/>
            </div>
            <button type="submit" class="btn" (click)=onLogin()>Log in</button>
        </form>
    </div>

</div>
