<div *ngIf='!user'>
  <form>
      <div>
          <label for="email">
              Email:
          </label>
          <input [(ngModel)]="email" id="email" type="email" name="email">
      </div>
      <div>
          <label for="password">
              Password:
          </label>
          <input [(ngModel)]="password" id="password" type="text" name="password">
      </div>
      <button type="submit" (click)=onLogin()>Log in</button>
  </form>
</div>
<div *ngIf='user'>
  <button (click)=onLogout()>Log out</button>
</div>
